body {background-color: black; color: white; margin: 0;}

#controller {position: fixed; height: 20px; line-height: 20px; width: 100%; padding: 0 10px; background-color: grey;}
#controller a {color: white; margin-left: 20px; text-decoration: none;}
#controller .auto-scroll {margin-left: 20px;}
#target {padding-top: 20px;}

.black {color: black;}
.red {color: red;}
.green {color: green;}
.yellow {color: yellow;}
.blue {color: blue;}
.magenta {color: magenta;}
.cyan {color: cyan;}
.white {color: white;}

.bold {font-weight: bold;}
.underline {text-decoration: underline;}

.indent {margin-right: 10px;}
.column {margin: 0 10px;}

.folder > .indent:first-child {background: url('/images/icons.png') no-repeat 0px 2px;}
.folder.collapse > .indent:first-child {background: url('/images/icons.png') no-repeat 0px -10px;}
.folder > .indent, .folder.collapse > .indent:first-child {width: 10px; height: 12px; display: inline-block; text-indent: -99999px; margin-right: 3px;}