<html>
<head>
  <script src='/javascripts/prototype.js'></script>
</head>
<body>
  <p><strong>Ruby call stack:</strong></p>
  <div id='target'></div>
  
  <script>
    var timestamp = 0; 
    function connect() {
      new Ajax.Request('/call_stack/request?' + new Date().getTime(), { 
        method:'get',
        onComplete: function(transport) { 
          var json = transport.responseText.evalJSON(); 
          $('target').innerHTML += json.msg + '<br />'; 
          setTimeout("connect()", 500);
        }
      });
    }
    connect(); 
  </script>
</body>
</html>